.buttonGroupJJ {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.5rem;

  &.center {
    inline-size: 100%;
    justify-content: center;
  }

  &.left {
    inline-size: 100%;
    justify-content: flex-start;
  }

  &.right {
    inline-size: 100%;
    justify-content: flex-end;
  }
}
